# IDE 관련 파일
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# 운영체제 관련 파일
.DS_Store
Thumbs.db

# 의존성 디렉토리
node_modules/
venv/
__pycache__/
*.pyc
venv_py311/

# 빌드 결과물
dist/
build/
*.log

# 환경 설정 파일
.env
.env.local
.env.*.local
.env.*

# 기타
*.swp
*.swo
chroma_db/
*.sqlite3
chroma.sqlite3
*.save
get-pip.py
.python-version

# 추가 파일
*.log
*.log.*
*.log.*.*
# csv_data/
*.json
